<div class="container" style="margin-top:100px;" align="center">

  <div class="pull-right">
    Already a member ?
  </div>
  <a [routerLink]="['/login']" class="btn btn-info" style="margin-left:0px">Sign In</a>
  <div>
  </div>
</div>

<div class="container" style="margin-top:50px;margin-left:300px">

  <div class="col-md-6 col-md-offset-3">

    <div class="col-md-12">
      <div class="form-group" align="center">
        <label><b>Role</b></label>
        <div class="radio">
          <label>
            <input type="radio" name="genre" value="contentcreator" ><!--[(ngModel)]="role"-->
            Content Creator
          </label>
          <label style="margin-left:20px">
            <input type="radio" name="genre" value="user" ><!--[(ngModel)]="role"-->
            User
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label><b>First Name</b></label>
        <input type="text" class="form-control" name="firstname" placeholder="First name" /><!--[(ngModel)]="firstname.value"-->
        <!--<div [hidden]="!firstname.errors.required">

        </div>-->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label ><b>Last Name</b></label>
        <input type="text" class="form-control" name="lastname" placeholder="Last name" /><!--[(ngModel)]="lastname.value"-->
        <!--<div [hidden]="!lastname.errors.required">

        </div>-->
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label ><b>Email</b></label>
        <input type="text" class="form-control" name="email" placeholder="Email" /><!--[(ngModel)]="email.value"-->
        <!--<div [hidden]="!email.errors.required">

        </div>-->
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label ><b>Password</b></label>
        <input type="password" class="form-control" name="password" placeholder="Password" /><!--[(ngModel)]="password.value"-->
        <!--<div [hidden]="!password.errors.required">

        </div>-->
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label ><b>Confirm Password</b></label>
        <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm password" /><!--[(ngModel)]="confirmpassword.value"-->
        <!--<div [hidden]="!confirmpassword.errors.required">

        </div>-->
      </div>
    </div>


    <div class="col-md-12" style="margin-top:20px;">
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>
    </div>

    <div class="col-md-12" style="margin-top:20px;text-align:center">
      By registering by e-mail, you accept the General Conditions and the Privacy Policy.

      The above information is all required to become a member.
      They are collected in order to create your account,
      communicate with us or members and, where appropriate, terminate our relationship.
      You have a right of access, rectification and opposition.
    </div>
  </div>
</div>

<!--<app-footer></app-footer>-->
