<div class="profileHeader" >
  <div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class=" align-items-center text-center">
                    <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple115/v4/4a/fa/e0/4afae0c6-9793-309d-ef98-fdee220b3e3f/source/512x512bb.jpg" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4> {{currentUser.first_name}} {{currentUser.last_name}}</h4>
                      <p class="text-secondary mb-1" *ngIf="isCreator">Content Creator</p>
                      <p class="text-secondary mb-1" *ngIf="!isCreator">Normal User</p>
                      <p class="text-muted font-size-sm">{{currentUser.email}}</p>
                      <button class="btn btn-primary">Edit Profile</button>
                      <button class="btn btn-outline-primary" (click)="makeCreator()">Upgrade</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="sort">
                  <p>Want to register a new package, click here</p>
                  <br/>
                    <a [hidden]="!isCreator" routerLink="/createPackage" class="buttonReg">Register</a>
                </div>
                <div class="eventInfo">
                  <h1>Packages </h1>
                    <p>
                    Why do we use it?It is a long established fact that a reader will be distracted by
                    the readable content of a page when looking at its layout. The point of using Lorem

                    </p>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="profileBanner">Profile Header</div>
              </div>

              <div class="row gutters-sm">
                <div class="packagesContainer">

                  <div class="card">
                    <div class="card-header">
                      <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple115/v4/4a/fa/e0/4afae0c6-9793-309d-ef98-fdee220b3e3f/source/512x512bb.jpg" alt="rover" />
                    </div>
                    <div class="card-body">
                      <p class="tag tag-red">Technology</p>
                      <p>
                        An exploration into the truck's polarising design
                        An exploration into the truck's polarising design
                        An exploration into the truck's polarising design
                      </p>
                      <div class="bottom">
                        <button class="button">Edit</button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple115/v4/4a/fa/e0/4afae0c6-9793-309d-ef98-fdee220b3e3f/source/512x512bb.jpg" alt="rover" />
                    </div>
                    <div class="card-body">
                      <span class="tag tag-red">Technology</span>
                      <p>
                        An exploration into the truck's polarising design
                        An exploration into the truck's polarising design
                        An exploration into the truck's polarising design
                      </p>
                      <div class="bottom">
                        <button class="button">Edit</button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple115/v4/4a/fa/e0/4afae0c6-9793-309d-ef98-fdee220b3e3f/source/512x512bb.jpg" alt="rover" />
                    </div>
                    <div class="card-body">
                      <span class="tag tag-red">Technology</span>
                      <p>
                        An exploration into the truck's polarising design
                        An exploration into the truck's polarising design
                        An exploration into the truck's polarising design
                      </p>
                      <div class="bottom">
                        <button class="button">Edit</button>
                      </div>
                    </div>
                  </div>


                </div>

              </div>



            </div>
          </div>

        </div>
    </div>
</div>