<!-- <button (click)="getItems()">Api Call</button>
<div *ngFor="let item of items | async">
  {{item | json}}
</div> -->

<header>
  <div class="navbar">
    <img routerLink="/home" class="logo" src="https://tinyimg.io/i/rvpoMM4.png"  />
    <nav>
      <ul>
        <li><a [hidden]="loggedIn" routerLink="/home"><b>{{'home'}}</b></a></li>
        <li><a [hidden]="!loggedIn" routerLink="/market">{{'marketplace'}}</a></li>
        <li><a [hidden]="!loggedIn" routerLink="/profile">{{'profile'}}</a></li>
        <li><a [hidden]="loggedIn" routerLink="/register">{{'register'}}</a></li>
        <li><a [hidden]="loggedIn" routerLink="/login">{{'login'}}</a></li>
        <li><a [hidden]="!loggedIn" (click)="logout()">Logout</a></li>
        <li>
          <select [(ngModel)]="translationService.language">
            <option *ngFor="let language of translationService.languages" [ngValue]="language">{{language}}</option>
          </select>
        </li>
      </ul>
    </nav>
  </div>




</header>


<div class="pageContainer">
  <div class="centerContent">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
