.container {
  padding: 40px;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  width: 600px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
  min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*.signinContainer{
  display: flex;
  flex-wrap: wrap;
  align-items:flex-end;
  justify-content: center;

}*/

