<!--<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">LOGO</a>
    </div>
  </div>
</div>-->

<!--
<div class="signinContainer">

<div class="container" style="margin-top:150px;margin-left:250px;position:absolute;">

  <div class="col-md-6 col-md-offset-3">
    <h1>
      {{'login' | translate}}
    </h1>
    <div class="col-md-12">
      <div class="form-group" align="center">
        <label><b>Email</b></label>
        <input id="email" type="text" class="form-control" name="email" placeholder="Email address" />


      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group" align="center">
        <label><b>Password</b></label>
        <input id="password" type="password" class="form-control" name="password" placeholder="Password"/>


      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group" align="center">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Remember me
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-12" style="margin-top:20px;">
      <div class="form-group">
        <button (click)="login()" class="btn btn-primary btn-block">Login</button>

      </div>
    </div>

    <div class="col-md-12" align="center">
      <a href="forgot-pw">Forgot password ?</a>
    </div>

  </div>
</div>-->

<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your email for registration</span>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button>Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>
      <input id="email" type="email" placeholder="Email" />
      <input id="password" type="password" placeholder="Password" />
      <a href="#">Forgot your password ?</a>
      <button (click)="login()">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Folk !</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp" ><a href="/register">Sign Up</a></button>
      </div>
    </div>
  </div>
</div>










<!--<html>
<head>
  <meta charset="utf-8">
  <title>Login to Celyes</title>
</head>
<body class="login-body">
<div class="row">
  <div class="input-cart col s12 m10 push-m1 z-depth-2 grey lighten-5">
    <div class="col s12 m5 login">
      <h4 class="center" style="margin-left : 55px">Log in</h4>
      <br>
      <form action="check.php" method="post" autocomplete="off">
        <div class="row">
          <div class="input-field">
            <input type="text" id="user" name="username" class="validate" required="required" placeholder="Email">
            <label for="user">
              <i class="material-icons">person</i>                </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="password" id="pass" name="password" class="validate" required="required" placeholder="Password">
            <label for="pass">
              <i class="material-icons">lock</i>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="switch col s6">
            <label>
              <input type="checkbox">
              <span class="lever"></span>
              Remember Me
            </label>
          </div>
          <div class="col s6">
            <button type="submit" name="login" class="btn waves-effect waves-light blue right" >Log in</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col s12 m7 signup">
      <div class="signupForm">
        <h4 class="center">Sign up</h4>
        <br>
        <form action="regCheck.php" name="signup" method="post" autocomplete="off">
          <div class="row">
            <div class="input-field col s12 m6">
              <input type="text" id="name-picked" name="namepicked" class="validate" required="required" placeholder="Enter a username">
              <label for="name-picked">
                <i class="material-icons">person_add</i>
              </label>
            </div>
            <div class="input-field col s12 m6">
              <input type="password" id="pass-picked" name="passpicked" class="validate" required="required" placeholder="Password">
              <label for="pass-picked">
                <i class="material-icons">lock</i>                    </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field email">
              <div class="col s12">
                <input type="text" id="email" name="email" class="validate" required="required" placeholder="Enter your email">
                <label for="email">
                  <i class="material-icons">mail</i>
                </label>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <button type="submit" name="btn-signup" class="btn blue right waves-effect waves-light">Sign Up</button>
        </div>
      </div>
      <div class="signup-toggle center" >
        <h4 class="center">Have No Account ? <a href="#!" [routerLink]="['/register']">Sign Up</a></h4>
      </div>
    </div>
    <div class="col s12">
      <br>
      <div class="legal center">
      </div>
      <div class="legal center">
        <div class="col s12 m7 right">
          <p class="grey-text policy center">By signing up, you agree on our <a href="#!">Privacy Policy</a> and  <a href="#!">Terms of Use</a> including <a href="#!">Cookie Use</a>.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="fixed-action-btn toolbar">
  <a class="btn-floating btn-large amber black-text">
    Login
  </a>
</div>
</body>
</html>-->

