<h1 class="heade">Market place</h1>

<div class="container">
  <div class="news">
  <div class="text">
    <p>News</p>
  </div>
  </div>
</div>

<div>
<h1 class="header2">Popular packages</h1>
<input type="text" class="form-control" (input)="showSearch($event.target.value)">
<div class="containerPP">
      <a class="card2" href="#">
        <h2>Ivanti Package</h2>
        <h3>OS 30</h3>
        <p class="small">Card description with lots of great facts and interesting details.</p>
      </a>
      <a class="card2" href="#">
        <h2>Ivanti Package</h2>
        <h3>OS 30</h3>
        <p class="small">Card description with lots of great facts and interesting details.</p>
      </a>
      <a class="card2" href="#">
        <h2>Ivanti Package</h2>
        <h3>OS 30</h3>
        <p class="small">Card description with lots of great facts and interesting details.</p>
      </a>
      <a class="card2" href="#">
        <h2>Ivanti Package</h2>
        <h3>OS 30</h3>
        <p class="small">Card description with lots of great facts and interesting details.</p>
      </a>
</div>
</div>

    <ul *ngIf="packages">
      <li *ngFor="let package of packages">
        <a class="card2" href="#">
          <h2> {{package.title}} </h2>
          <h3>OS 30</h3>
          <p class="small">{{ package.description }}</p>
        </a>
      </li>
    </ul>
